.chatscreen__timestamp {
    text-align: center;
    font-size: smaller;
    padding: 20px;
    color: gray;
}

.chatscreen__message {
    display: flex;
    align-items: center;
    padding: 15px;
}
.chatscreen__text {
    margin-left: 10px;
    font-size: small;
    background-color: lightgray;
    padding: 12px;
    border-radius: 20px;
}

.chatscreen__textuser {
    margin-left: auto;
    font-size: small;
    background-color: #29b3cd;
    color: whitesmoke;
    padding: 12px;
    border-radius: 20px;
}

.chatscreen__input {
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgray;
}

.chatscreen__inputfield{
    flex: 1;
    padding: 10px;
    border: none;
}

.chatscreen__inputbuttom{
    border: none;
    margin-right: 20px;
    background-color: white;
    font-weight: bolder;
    color: #fe3d71;
}